<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAPI</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="user">
        <img src="image.jpg" alt="">
        <h3 class="name">YakuzaaKyy?</h3>
        <p class="post">2019/2022</p>
    </div>    
</header>
<div id="menu" class="fas fa-bars"></div>
<section class="home" id="home">
    <h3>WELCOME!</h3>
    <h1>I AM <span>Yakuzaa</span></h1>
    <p>SELAMAT DATANG DI WEBSITE YAKUZAA</p>        
<section class="contact" id="contact">

row{
  display:flex;
  justify-content:center;
  margin-top:1rem;
}
.mr-2{
  margin-right: 0.5rem;
}
 
/* css button */
.btn{
    font-family: sans-serif;   //mengatur jenis font
    font-size: 1em;   //mengatur ukuran font
    background: #ffb74d;  //mengatur warna background
    color: white;  //mengatur warna font
    border: white 0.2rem solid; //mengatur border atau garis tepi button
    border-radius: 0.5rem; //mengatur radius garis tepi button
    padding: 0.8rem 1.8rem; //mengatur jarak padding button
    margin-top: 1rem; //mengatur jarak margin bagian atas button
    text-decoration:none;  //menghilangkan garis bawah pada link 
}
/* memberi efek hover pada button */
.btn:hover{
   opacity:0.9;
}
