<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yakuzaa</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header>
    <div class="user">
        <img src="image.jpg" alt="">
        <h3 class="name">YakuzaaKyy??</h3>
        <p class="post">JawaTimur/Lumajang</p>
    </div>    
</header>
<div id="menu" class="fas fa-bars"></div>
<section class="home" id="home">
    <h3>WELCOME!</h3>
    <h1>I'M <span>Y𝖆кuz𝖆</span></h1>
    <p>WELCOME TOO WEBSITE YAKUZAA</p>        
</section>
<section class="contact" id="contact">

<h1 class="heading"> <span>TIK</span>TOK</h1>

<audio autoplay="true">
    <source src="routes/y.mp3" type="audio/mpeg">
    Browsermu tidak mendukung tag audio, upgrade donk!
</audio>

</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="script.js"></script>
</body>
</html>

